<div class="container" (dragover)="allowDrop($event)" (drop)="drop($event)">
    <div class="caption">{{count}} companies, {{newCount}} new </div>
    <div class="header">
        <mat-form-field class="input-stuff">
            <input matInput type="text" [(ngModel)]="newCompany" (keyup.enter)="checkAdd()">
            <button mat-button *ngIf="newCompany" matSuffix mat-icon-button aria-label="Clear"
                (click)="newCompany=undefined">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="buttons">
            <button class="text-button" mat-stroked-button (click)="checkAdd()" [disabled]="!newCompany">Check & Add</button>
            <button class="text-button" mat-stroked-button (click)="add()" [disabled]="!newCompany">Add</button>
            <button class="text-button" mat-stroked-button (click)="remove()" [disabled]="!selected">Remove</button>
            <button class="icon-button" mat-stroked-button (click)="updateClipboard()" [title]="searchString"><mat-icon>subject</mat-icon></button>
        </div>
        <div class="error" (click)="hideError()">{{errorMessage}}</div>
    </div>
    <div class="content">
        <div *ngFor='let company of companies; index as i' (click)="onMemberClick(i)" class="member" [ngClass]="getClass(i)">
            {{company}}
        </div>
    </div>
</div>

